streamlit
opencv-python
pandas
numpy
requests
deepface==0.0.81
Pillow==10.2.0
tf-keras
tensorflow==2.12
openpyxl
google-api-python-client
google-auth-oauthlib
google-auth-httplib2




